<div style="text-align: center; margin-bottom: 0.7rem;">
    <span style="font-weight: bold; font-size: larger;">Log sheet</span>
</div>
<div>
    <form [formGroup]="timesForm" (ngSubmit)="onSubmitTimesForm()" novalidate>

        <div class="grid">
            <!-- line 1 -->
            <div class="col-2">
                <label for="flightDate">Flight date</label>
            </div>
            <div class="col-10">
                <p-datepicker inputId="flightDate" formControlName="flightDate" [iconDisplay]="'input'"
                    [showIcon]="true" [showButtonBar]="true" [showTime]="true" [dateFormat]="'yy-mm-dd'"
                    [hourFormat]="'12'" size="small" [inputStyle]="{'width':'12rem'}"
                    ngClass="flightDate.invalid && && flightDate.touched ? ng-invalid" />
            </div>

            <!-- line 2 -->
            <!-- from/to -->
            <div class="col-2">
                <label for="from">From/To</label>
            </div>
            <div class="col-2">
                <input type="text" pInputText inputId="from" formControlName="from" pSize="small" size="small"
                    maxlength="4" style="text-transform:uppercase; width: 4rem;" />
            </div>
            <div class="col-2">
                <input type="text" pInputText inputId="to" formControlName="to" pSize="small" size="small" maxlength="4"
                    style="text-transform:uppercase; width: 4rem;" />
            </div>
            <div class="col-6">
            </div>


            <!-- line 3 -->
            <div class="col-2">
                <label for="startupTime">Startup</label>
            </div>
            <div class="col-4">
                <p-datepicker inputId="startupTime" formControlName="startupTime" [timeOnly]="true"
                    [iconDisplay]="'input'" [showIcon]="true" hourFormat="12" size="small"
                    ngClass="startupTime.invalid && && startupTime.touched ? ng-invalid">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
            </div>
            <div class="col-2">
                <span>Airtime</span>
            </div>
            <div class="col-4">
                <span>{{airtime == 0 ? '' : airtime | number: '1.0-1'}}</span>
            </div>

            <!-- line 4 -->
            <div class="col-2">
                <label for="takeoffTime">Takeoff</label>
            </div>
            <div class="col-4">
                <p-datepicker inputId="takeoffTime" formControlName="takeoffTime" [timeOnly]="true"
                    [iconDisplay]="'input'" [showIcon]="true" hourFormat="12" size="small"
                    ngClass="takeoffTime.invalid && && takeoffTime.touched ? ng-invalid">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
            </div>
            <div class="col-2">
                <span>Flight time</span>
            </div>
            <div class="col-4">
                <span>{{flightTime == 0 ? '' : flightTime | number: '1.0-1'}}</span>
            </div>

            <!-- line 5 -->
            <div class="col-2">
                <label for="landingTime">Landing</label>
            </div>
            <div class="col-4">
                <p-datepicker inputId="landingTime" formControlName="landingTime" [timeOnly]="true"
                    [iconDisplay]="'input'" [showIcon]="true" hourFormat="12" size="small"
                    ngClass="landingTime.invalid && && landingTime.touched ? ng-invalid">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
            </div>
            <div class="col-2">
                <span>TSN</span>
            </div>
            <div class="col-4">
                <span>{{tsn == 0 ? '' : tsn | number: '1.0-1'}}</span>
            </div>

            <!-- line 6 -->
            <div class="col-2">
                <label for="shutdownTime">Shutdown</label>
            </div>
            <div class="col-4">
                <p-datepicker inputId="shutdownTime" formControlName="shutdownTime" [timeOnly]="true"
                    [iconDisplay]="'input'" [showIcon]="true" hourFormat="12" size="small"
                    ngClass="shutdownTime.invalid && && shutdownTime.touched ? ng-invalid">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
            </div>
            <div class="col-2">
                <span>TSMOH</span>
            </div>
            <div class="col-4">
                <span>{{tsmoh == 0 ? '' : tsmoh | number: '1.0-1'}}</span>
            </div>

        </div> <!-- bottom of grid -->

        <div class="formgroup-inline">
            <div class="field">
                <button pButton type="submit" label="Calc Times" icon="pi pi-check"
                    [disabled]="timesForm.invalid"></button>
            </div>
            <div class="field">
                <button pButton type="button" label="Reset Times" (click)="onResetTimesForm()"></button>
            </div>
        </div>

    </form>
</div>

<div>
    <form [formGroup]="fuelForm" (ngSubmit)="onSubmitFuelForm()" novalidate>

        <div class="grid">

            <!-- line 1 -->
            <div class="col-2">
                <span>Fuel</span>
            </div>
            <div class="col-2">
                <span>Left</span>
            </div>
            <div class="col-2">
                <span>Right</span>
            </div>
            <div class="col-6">
                <span>Both</span>
            </div>

            <!-- line 2 -->
            <div class="col-2">
                <span>Avail</span>
            </div>
            <div class="col-2">
                <span>{{leftTankBefore | number: '1.0-1'}}</span>
            </div>
            <div class="col-2">
                <span>
                    {{rightTankBefore | number: '1.0-1'}}
                </span>
            </div>
            <div class="col-6">
                <span>
                    {{bothTanksBefore | number: '1.0-1'}} gal -
                    {{timeRemainingInTanksBefore}} <i class="pi pi-clock"></i>
                </span>
            </div>

            <!-- line 3 -->
            <div class="col-2">
                <span>Used</span>
            </div>
            <div class="col-2">
                <p-inputnumber formControlName="leftTankUsed" size="small" [min]="0" mode="decimal"
                    [maxFractionDigits]="1" [maxlength]="4" [inputStyle]="{'width':'3rem'}" />
            </div>
            <div class="col-2">
                <p-inputnumber formControlName="rightTankUsed" size="small" [min]="0" mode="decimal"
                    [maxFractionDigits]="1" [maxlength]="4" [inputStyle]="{'width':'3rem'}" />
            </div>
            <div class="col-6">
                <span>
                    {{bothTanksUsed | number: '1.0-1'}}
                </span>
            </div>

            <!-- line 4 -->
            <ng-container *ngIf="bothTanksUsed">
                <div class="col-2">
                    <span>Remain</span>
                </div>
                <div class="col-2">
                    <span>
                        {{remainingLeftTank | number: '1.0-1'}}
                    </span>
                </div>
                <div class="col-2">
                    <span>
                        {{remainingRightTank | number: '1.0-1'}}
                    </span>
                </div>
                <div class="col-6">
                    <span>
                        {{remainingInTanks | number: '1.0-1'}} gal -
                        {{timeRemainingInTanksAfter}} <i class="pi pi-clock"></i>
                    </span>
                </div>
            </ng-container>

        </div> <!-- bottom of grid -->

        <div class="formgroup-inline">
            <div class="field">
                <button pButton type="submit" label="Calc Fuel" icon="pi pi-check"
                    [disabled]="timesForm.invalid"></button>
            </div>
            <div class="field">
                <button pButton type="reset" label="Reset Fuel" (click)="onResetFuelForm()"></button>
            </div>
        </div>

    </form>
</div>

<div class="card flex justify-center gap-4">
    <p-button label="Save" icon="pi pi-check" (onClick)="onSave()" [disabled]="! timesCaculated || ! fuelCaculated" />
</div>
<!-- example of responsive classes -->
<!-- <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12</div>
    </div>
</div> -->