<div>
    <form [formGroup]="timesForm" (ngSubmit)="onSubmitTimesForm()" novalidate>

        <div class="grid">
            <!-- line 1 -->
            <div class="col-2">
                <label for="flightDate">Flight date</label>
            </div>
            <div class="col-10">
                <p-datepicker formControlName="flightDate" [iconDisplay]="'input'" [showIcon]="true"
                    [showButtonBar]="true" [dateFormat]="'yy-mm-dd'" size="small" [inputStyle]="{'width':'8rem'}"
                    ngClass="flightDate.invalid && && flightDate.touched ? ng-invalid" />
            </div>
            <!-- <div class="col-5">
            </div> -->

            <!-- line 2 -->
            <div class="col-2">
                <label for="startupTime">Startup</label>
            </div>
            <div class="col-4">
                <p-datepicker formControlName="startupTime" [timeOnly]="true" [iconDisplay]="'input'" [showIcon]="true"
                    hourFormat="12" size="small" ngClass="startupTime.invalid && && startupTime.touched ? ng-invalid">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
                <span>Flight</span>
            </div>
            <div class="col-2">
                <span>Total</span>
            </div>

            <!-- line 3 -->
            <div class="col-2">
                <label for="takeoffTime">Takeoff</label>
            </div>
            <div class="col-4">
                <p-datepicker formControlName="takeoffTime" [timeOnly]="true" [iconDisplay]="'input'" [showIcon]="true"
                    hourFormat="12" size="small" ngClass="takeoffTime.invalid && && takeoffTime.touched ? ng-invalid">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
            </div>
            <div class="col-2">
                <span>Airtime</span>
            </div>
            <div class="col-2">
                <span>{{airtime == 0 ? '' : airtime | number: '1.0-1'}}</span>
            </div>
            <div class="col-2">
                <span>{{totalAirtime == 0 ? '' : totalAirtime | number: '1.0-1'}}</span>
            </div>

            <!-- line 4 -->
            <div class="col-2">
                <label for="landingTime">Landing</label>
            </div>
            <div class="col-4">
                <p-datepicker formControlName="landingTime" [timeOnly]="true" [iconDisplay]="'input'" [showIcon]="true"
                    hourFormat="12" size="small" ngClass="landingTime.invalid && && landingTime.touched ? ng-invalid">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
            </div>
            <div class="col-2">
                <span>Flight time</span>
            </div>
            <div class="col-4">
                <span>{{flightTime == 0 ? '' : flightTime | number: '1.0-1'}}</span>
            </div>

            <!-- line 5 -->
            <div class="col-2">
                <label for="shutdownTime">Shutdown</label>
            </div>
            <div class="col-4">
                <p-datepicker formControlName="shutdownTime" [timeOnly]="true" [iconDisplay]="'input'" [showIcon]="true"
                    hourFormat="12" size="small" ngClass="shutdownTime.invalid && && shutdownTime.touched ? ng-invalid">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
            </div>
            <div class="col-2">
                <span>TSMOH</span>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
                <span>{{tsmoh == 0 ? '' : tsmoh | number: '1.0-1'}}</span>
            </div>

        </div> <!-- bottom of grid -->

        <div class="formgroup-inline">
            <div class="field">
                <button pButton type="submit" label="Calc Times" icon="pi pi-check"
                    [disabled]="timesForm.invalid"></button>
            </div>
            <div class="field">
                <button pButton type="reset" label="Reset Times" (click)="onCancelTimesForm()"></button>
            </div>
        </div>

    </form>
</div>

<div>
    <form [formGroup]="fuelForm" (ngSubmit)="onSubmitFuelForm()" novalidate>

        <div class="grid">

            <!-- line 1 -->
            <div class="col-2">
                <span>Fuel</span>
            </div>
            <div class="col-2">
                <span>Left</span>
            </div>
            <div class="col-2">
                <span>Right</span>
            </div>
            <div class="col-2">
                <span>Both</span>
            </div>
            <div class="col-4">
                <span>Remaining</span>
            </div>

            <!-- line 2 -->
            <div class="col-2">
                <span>Used</span>
            </div>
            <div class="col-2">
                <span>{{previousFlightsLeftTankFuelUsed | number: '1.0-1'}}/{{leftTankFuelPumped | number:
                    '1.0-1'}}</span>
            </div>
            <div class="col-2">
                <span>{{previousFlightsRightTankFuelUsed | number: '1.0-1'}}/{{rightTankFuelPumped | number:
                    '1.0-1'}}</span>
            </div>
            <div class="col-2">
                <span>{{previousFlightsBothTanksFuelUsed | number: '1.0-1'}}/{{bothTanksFuelPumped | number:
                    '1.0-1'}}</span>
            </div>
            <div class="col-4">
                <span>{{previousFlightsFuelRemaining | number: '1.0-1'}} gal / 4:01 time</span>
            </div>

            <!-- line 3 -->
            <div class="col-2">
                <span>Flight</span>
            </div>
            <div class="col-2">
                <p-inputnumber inputId="flightLeftTankFuelUsed" formControlName="flightLeftTankFuelUsedControl"
                    size="small" [min]="0" [max]="eachTankCapacity" mode="decimal" [minFractionDigits]="0"
                    [maxFractionDigits]="1" [inputStyle]="{'width':'3rem'}" />
            </div>
            <div class="col-2">
                <p-inputnumber inputId="flightRightTankFuelUsed" formControlName="flightRightTankFuelUsedControl"
                    size="small" [min]="0" [max]="eachTankCapacity" mode="decimal" [minFractionDigits]="0"
                    [maxFractionDigits]="1" [inputStyle]="{'width':'3rem'}" />
            </div>
            <div class="col-6">
                <span>{{flightBothTanksFuelUsed | number: '1.0-1'}}</span>
            </div>

            <!-- line 4 -->
            <div class="col-2">
                <span>Total</span>
            </div>
            <div class="col-2">
                <span>{{totalLeftTankFuelUsed | number: '1.0-1'}}</span>
            </div>
            <div class="col-2">
                <span>{{totalRightTankFuelUsed | number: '1.0-1'}}</span>
            </div>
            <div class="col-6">
                <span>{{totalBothTanksFuelUsed | number: '1.0-1'}}</span>
            </div>

        </div> <!-- bottom of grid -->

        <div class="formgroup-inline">
            <div class="field">
                <button pButton type="submit" label="Calc Fuel" icon="pi pi-check"
                    [disabled]="timesForm.invalid"></button>
            </div>
            <div class="field">
                <button pButton type="reset" label="Reset Fuel" (click)="onCancelTuelForm()"></button>
            </div>
        </div>

    </form>
</div>

<!-- example of responsive classes -->
<!-- <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12</div>
    </div>
</div> -->