<ng-template [ngIf]="formReady">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

        <div class="grid" style="width: 25em;">

            <!-- line 1 -->
            <!-- date-->
            <div class="col-2">
                <label for="date">Date</label>
            </div>
            <div class="col-10">
                <p-datepicker inputId="date" formControlName="date" [iconDisplay]="'input'" [showIcon]="true"
                    [showButtonBar]="true" [showTime]="true" hourFormat="12" [dateFormat]="'yy-mm-dd'" size="small"
                    [inputStyle]="{'width':'12rem'}" ngClass="date.invalid && && date.touched ? ng-invalid" />
            </div>

            <!-- line 2 -->
            <div class="col-2">
                <label for="transactionType">Trans</label>
            </div>
            <div class="col-10">
                <p-select id="transactionType" [options]="transactionTypeOptions" formControlName="transactionType"
                    size="small">
                </p-select>
            </div>

            <!-- line 3 -->
            <div class="col-2">
                <label>
                </label>
            </div>
            <div class="col-2">
                <label>
                    <span>Left</span>
                </label>
            </div>
            <div class="col-8">
                <label>
                    <span>Right</span>
                </label>
            </div>

            <!-- line 4 -->
            <div class="col-2">
                <span>In tank</span>
            </div>
            <ng-container *ngIf="maintenanceMode; else displayInTank">
                <div class="col-2">
                    <p-inputnumber inputId="left" formControlName="left" size="small" (onInput)="onInputLeft()"
                        [min]="0" mode="decimal" [maxFractionDigits]="1" [maxlength]="4"
                        [inputStyle]="{'width':'3.5rem'}" />
                </div>
                <div class="col-8">
                    <p-inputnumber inputId="right" formControlName="right" size="small" (onInput)="onInputRight()"
                        [min]="0" mode="decimal" [maxFractionDigits]="1" [maxlength]="4"
                        [inputStyle]="{'width':'3.5rem'}" />
                </div>
            </ng-container>
            <ng-template #displayInTank>
                <div class="col-2">
                    <span>{{form.controls.left.value | number: '1.0-1'}}</span>
                </div>
                <div class="col-8">
                    <span>{{form.controls.right.value | number: '1.0-1'}}</span>
                </div>
            </ng-template>

            <!-- line 5 -->
            <!-- topUp -->
            <ng-container *ngIf="!maintenanceMode">
                <div class="col-2">
                    <label for="topUp">
                        Top up
                    </label>
                </div>
                <div class="col-10">
                    <p-checkbox formControlName="topUp" inputId="topUp" binary="true"
                        (onChange)="onChangeTopUp($event)" />
                </div>
            </ng-container>

            <!-- line 6 -->
            <!-- addToLeftTank & addToRightTank -->
            <div class="col-2">
                <ng-container *ngIf="maintenanceMode; else refuelMode">
                    <label>Change to tank</label>
                </ng-container>
                <ng-template #refuelMode>
                    <label>Add to tank</label>
                </ng-template>
            </div>
            <div class="col-2">
                <input type="text" pInputText formControlName="addToLeftTank" inputmode="numeric" pKeyFilter="num"
                    pSize="small" style="width: 3.5rem" />
            </div>
            <div class="col-8">
                <input type="text" pInputText formControlName="addToRightTank" inputmode="numeric" pKeyFilter="num"
                    pSize="small" style="width: 3.5rem" />
            </div>

            <ng-container
                *ngIf="(form?.controls?.addToLeftTank?.value ?? 0) >= 0 || (form?.controls?.addToRightTank?.value ?? 0) >= 0 ">
                <!-- line 7 -->
                <!-- priceType -->
                <div class="col-2">
                    <label for="priceType">Price type</label>
                </div>
                <div class="col-10">
                    <p-select id="priceType" [options]="priceTypeOptions" formControlName="priceType" size="small"
                        (onChange)="onChangePriceType()">
                    </p-select>
                </div>

                <!-- line 8 -->
                <!-- price -->
                <div class="col-2">
                    <label for="price">Price</label>
                </div>
                <div class="col-2">
                    <p-inputnumber inputId="price" formControlName="price" size="small" (onInput)="onInputPrice()"
                        [min]="0" mode="decimal" [maxFractionDigits]="2" [maxlength]="5"
                        [inputStyle]="{'width':'5rem'}" />
                </div>
                <!-- pricePerLitre -->
                <div class="col-1">
                </div>
                <div class="col-7">
                    <span
                        *ngIf="form.controls.priceType.value == 'Total' && !form.controls.addToLeftTank.invalid && !form.controls.addToRightTank.invalid  && !form.controls.price.invalid">({{pricePerLitre
                        | number: '1.0-2' }}/litre)</span>
                </div>
                <!-- line 9 -->
                <!-- airport -->
                <div class="col-2">
                    <label for="airport">Airport</label>
                </div>
                <div class="col-10">
                    <input type="text" pInputText inputId="airport" formControlName="airport" pSize="small"
                        (input)="toUpperCase()" size="small" maxlength="4"
                        style="text-transform:uppercase; width: 5rem" />
                </div>
                <!-- line 10 -->
                <!-- fbo -->
                <div class="col-2">
                    <label for="fbo">FBO</label>
                </div>
                <div class="col-10">
                    <input type="text" pInputText inputId="airport" formControlName="fbo" pSize="small"
                        maxlength="256" />
                </div>
            </ng-container>



            <!-- line 11 -->
            <!-- comment -->
            <div class="col-2">
                <label for="comment">Comment</label>
            </div>
            <div class="col-10">
                <input type="text" pInputText inputId="comment" formControlName="comment" pSize="small"
                    maxlength="4000" />
            </div>

            <!-- <p-footer> -->
            <div class="formgroup-inline">
                <!-- <ul>
                    <li>date {{form.controls.date.valid}}</li>
                    <li>transactionType {{form.controls.transactionType.valid}}</li>
                    <li>left {{form.controls.left.valid}}</li>
                    <li>right {{form.controls.right.valid}}</li>
                    <li>topUp {{form.controls.topUp.valid}}</li>
                    <li>addToLeftTank {{form.controls.addToLeftTank.valid}}</li>
                    <li>addToRightTank {{form.controls.addToRightTank.valid}}</li>
                    <li>priceType {{form.controls.priceType.valid}}</li>
                    <li>price {{form.controls.price.valid}}</li>
                    <li>airport {{form.controls.airport.valid}}</li>
                    <li>fbo {{form.controls.fbo.valid}}</li>
                    <li>comment {{form.controls.comment.valid}}</li>
                </ul> -->
                <div class="field">
                    <button pButton type="submit" label="Submit" [disabled]="form.invalid" icon="pi pi-check"></button>
                </div>
                <div class="field">
                    <button pButton type="reset" label="Cancel" (click)="onCancel()"></button>
                </div>
            </div>
            <!-- </p-footer> -->

        </div>
    </form>
</ng-template>