<p-button label="Choose Download Upload Cancel Browse" />
<div>
    <p-button disabled="true" label="Choose Download Upload Cancel Browse" />
</div>

<div class="card">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" size="small" [paginator]="true" [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template #header>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>