<p-table [value]="journeyLogArray" (onEditComplete)="onCommentEditComplete($event)" [paginator]="true"
    [rowsPerPageOptions]="[10,20,30]" [rows]="ROWS_PER_PAGE" [totalRecords]="page.totalElements"
    [loading]="loadingStatus" selectionMode="single" [loading]="loadingStatus" [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)" dataKey="id" size="small">

    <ng-template #caption>
        <div style="text-align: center;">
            <span style="font-weight: bold; font-size: larger;">Journey log</span>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Airtime</th>
            <th>Comment</th>
        </tr>
    </ng-template>
    <ng-template #body let-journeyLog let-editing="editing" let-rowIndex="rowIndex">
        <tr [pSelectableRow]=" journeyLog">
            <td [pTooltip]="dateTooltip">{{journeyLog.date | date: 'yy/M/d'}}</td>
            <td>{{journeyLog.from}}</td>
            <td>{{journeyLog.to}}</td>
            <td>{{journeyLog.airtime}}</td>
            <!-- <td>{{journeyLog.comment}}</td> -->
            <td [pEditableColumn]="journeyLog.comment" pEditableColumnField="comment"
                [pEditableColumnRowIndex]="rowIndex">
                <p-cellEditor>
                    <ng-template #input>
                        <input pInputText type="text" [(ngModel)]="journeyLog.comment" />
                    </ng-template>
                    <ng-template #output>
                        {{ journeyLog.comment }}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
        <ng-template #dateTooltip>
            <span>{{journeyLog.date | date: 'h:mm a'}}</span>
        </ng-template>
    </ng-template>
</p-table>
<!-- <pre>{{journeyLogArray|json}}</pre> -->