<p-table [value]="journeyLogVArray" (onEditComplete)="onCommentEditComplete($event)" [paginator]="true"
    [rowsPerPageOptions]="[10,20,30]" [rows]="ROWS_PER_PAGE" [totalRecords]="page.totalElements"
    [loading]="loadingStatus" [loading]="loadingStatus" [lazy]="true" (onLazyLoad)="onLazyLoad($event)" dataKey="id"
    size="small">

    <ng-template #caption>
        <div style="text-align: center;">
            <span style="font-weight: bold; font-size: larger;">Journey log</span>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Takeoff (UTC)</th>
            <th>Landing (UTC)</th>
            <th>Airtime</th>
            <th>TSN</th>
            <th>Comment <small>(editable)</small></th>
        </tr>
    </ng-template>
    <ng-template #body let-journeyLog let-editing="editing" let-rowIndex="rowIndex">
        <tr>
            <td [pTooltip]="dateTooltip">{{journeyLog.date | date: 'yy/M/d'}}</td>
            <td>{{journeyLog.from}}</td>
            <td>{{journeyLog.to}}</td>
            <td>{{journeyLog.takeoffTime | date: 'yy/M/d H:mm':"+0000"}}</td>
            <td>{{journeyLog.landingTime | date: 'yy/M/d H:mm':"+0000"}}</td>
            <td>{{journeyLog.airtime}}</td>
            <td>{{journeyLog.tsn}}</td>
            <td [pEditableColumn]="journeyLog.comment" pEditableColumnField="comment"
                [pEditableColumnRowIndex]="rowIndex">
                <p-cellEditor>
                    <ng-template #input>
                        <input pInputText type="text" [(ngModel)]="journeyLog.comment" />
                    </ng-template>
                    <ng-template #output>
                        <span class="pi pi-pencil">{{ journeyLog.comment }}</span>
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
        <ng-template #dateTooltip>
            <span>{{journeyLog.date | date: 'h:mm a'}}</span>
        </ng-template>
    </ng-template>
</p-table>