<p-table [value]="fuelLogArray" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [rows]="ROWS_PER_PAGE"
    [totalRecords]="page.totalElements" [loading]="loadingStatus" selectionMode="single" [(selection)]="selectedFuelLog"
    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [loading]="loadingStatus" [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)" dataKey="_links.self.href" size="small">

    <ng-template #caption>
        <div style="text-align: center;">
            <span style="font-weight: bold; font-size: larger;">Fuel log</span>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th></th>
            <th></th>
            <th colspan="2" style="text-align: center;">Left</th>
            <th colspan="2" style="text-align: center;">Right</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Trans</th>
            <th [width]="10">Initial/Change</th>
            <th [width]="10">Used/Remain</th>
            <th [width]="10">Initial/Change</th>
            <th [width]="10">Used/Remain</th>
            <th style="padding-left: 2rem;">Price/litre</th>
            <th>Airport</th>
            <th>FBO</th>
            <th>Comment</th>
        </tr>
    </ng-template>
    <ng-template #body let-fuelLog>
        <!-- <tr [pSelectableRow]="fuelLog.pricePerLitre ? fuelLog : ''"> -->
        <tr [pSelectableRow]="fuelLog">
            <td [pTooltip]="dateTooltip">{{fuelLog.date | date: 'yy/M/d'}}</td>
            <td>{{fuelLog.transactionType == 'REFUEL' ? 'Refuel' : 'Flight'}}</td>
            <td style="border-left: 1px solid; border-right: 1px solid;">{{fuelLog.left}}/{{fuelLog.changeInLeft}}</td>
            <td style="border-right: double;">
                <span
                    [style.color]="fuelLog.transactionType == 'FLIGHT' ? 'red' : 'black'">{{acParameters.eachTankCapacity
                    -
                    (fuelLog.left + fuelLog.changeInLeft) | number:
                    '1.0-1'}}</span>/<span
                    [style.color]="fuelLog.transactionType == 'FLIGHT' ? 'green' : 'black'">{{fuelLog.left +
                    fuelLog.changeInLeft | number: '1.0-1'}}</span>
            </td>
            <td style="border-right: 1px solid;">{{fuelLog.right}}/{{fuelLog.changeInRight}}</td>
            <td style="border-right: 1px solid;">
                <span
                    [style.color]="fuelLog.transactionType == 'FLIGHT' ? 'red' : 'black'">{{acParameters.eachTankCapacity
                    - (fuelLog.right + fuelLog.changeInRight) | number:
                    '1.0-1'}}</span>/<span
                    [style.color]="fuelLog.transactionType == 'FLIGHT' ? 'green' : 'black'">{{fuelLog.right +
                    fuelLog.changeInRight | number: '1.0-1'}}</span>
            </td>
            <td style="padding-left: 2rem;">{{fuelLog.fuelPrice?.pricePerLitre}}</td>
            <td>{{fuelLog.fuelPrice?.airport}}</td>
            <td>{{fuelLog.fuelPrice?.fbo}}</td>
            <td>{{fuelLog.fuelPrice?.comment}}</td>
        </tr>
        <ng-template #dateTooltip>
            <span>{{fuelLog.date | date: 'h:mm a'}}</span>
        </ng-template>
    </ng-template>
    <ng-template #summary>
        <div>
            <button type="button" pButton icon="pi pi-plus" (click)="showDialog(crudEnum.ADD)" label="Add"></button>
            <button type="button" pButton icon="pi pi-pencil" style="margin-left:0.5rem;"
                (click)="showDialog(crudEnum.UPDATE)" label="Modify"
                [disabled]="modifyAndDeleteButtonsDisable"></button>
            <button type="button" pButton icon="pi pi-minus" style="margin-left:0.5rem;"
                (click)="showDialog(crudEnum.DELETE)" label="Delete"
                [disabled]="modifyAndDeleteButtonsDisable"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Fuel log - {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true" (onHide)="onChildFormCancel()">

    <p-messages></p-messages>
    <app-backend-stacktrace-display></app-backend-stacktrace-display>

    <app-fuel-log-form [fuelLog]="fuelLogToForm" [acParameters]="acParameters"
        (formSubmitted)="onChildFormSubmit($event)" (formCancelled)="onChildFormCancel()" [maintenanceMode]="true"
        [displayOnly]="displayOnly" (deleteFuelPrice)="onDeleteFuelPrice($event)"></app-fuel-log-form>

</p-dialog>