<p-table [value]="fuelLogArray" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [rows]="ROWS_PER_PAGE"
    [totalRecords]="page.totalElements" [loading]="loadingStatus" selectionMode="single" [(selection)]="selectedFuelLog"
    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [loading]="loadingStatus" [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)" dataKey="_links.self.href" size="small">

    <ng-template #caption>
        <div style="text-align: center;">
            <span style="font-weight: bold; font-size: larger;">Fuel log</span>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>Date</th>
            <th>Trans</th>
            <th>Left tank</th>
            <th>Right tank</th>
            <th>Left tank change</th>
            <th>Right tank change</th>
            <th>Price/litre</th>
            <th>Airport</th>
            <th>FBO</th>
            <th>Comment</th>
        </tr>
    </ng-template>
    <ng-template #body let-fuelLog>
        <!-- <tr [pSelectableRow]="fuelLog.pricePerLitre ? fuelLog : ''"> -->
        <tr [pSelectableRow]="fuelLog">
            <td [pTooltip]="dateTooltip">{{fuelLog.date | date: 'yy/M/d'}}</td>
            <td>{{fuelLog.transactionType}}</td>
            <td>{{fuelLog.left}}</td>
            <td>{{fuelLog.right}}</td>
            <td>{{fuelLog.changeInLeft}}</td>
            <td>{{fuelLog.changeInRight}}</td>
            <td>{{fuelLog.pricePerLitre}}</td>
            <td>{{fuelLog.airport}}</td>
            <td>{{fuelLog.fbo}}</td>
            <td>{{fuelLog.comment}}</td>
        </tr>
        <ng-template #dateTooltip>
            <span>{{fuelLog.date | date: 'h:mm a'}}</span>
        </ng-template>
    </ng-template>
    <ng-template #summary>
        <div>
            <button type="button" pButton icon="pi pi-plus" (click)="showDialog(crudEnum.ADD)" label="Add"></button>
            <button type="button" pButton icon="pi pi-pencil" style="margin-left:0.5rem;"
                (click)="showDialog(crudEnum.UPDATE)" label="Modify"
                [disabled]="modifyAndDeleteButtonsDisable"></button>
            <button type="button" pButton icon="pi pi-minus" style="margin-left:0.5rem;"
                (click)="showDialog(crudEnum.DELETE)" label="Delete"
                [disabled]="modifyAndDeleteButtonsDisable"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Fuel log - {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true" (onHide)="onChildFormCancel()">

    <p-messages></p-messages>
    <app-backend-stacktrace-display></app-backend-stacktrace-display>

    <app-fuel-log-form [fuelLog]="fuelLogToForm" [acParameters]="acParameters"
        (formSubmitted)="onChildFormSubmit($event)" (formCancelled)="onChildFormCancel()" [maintenanceMode]="true"
        [displayOnly]="displayOnly"></app-fuel-log-form>

</p-dialog>